*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

/* Hero section - background img */
.heroImg{
    background-image: url('assets/background.jpg');
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
    align-items: center;
}

/* covers hero img background entirely = inset */
.heroImg::before{
    content: "";    
    position: absolute;
    inset: 0;             
    background-color: black;
    opacity: 0.8;
    z-index: 1; 
  
}

/* Navbar */
.nav{
    position:absolute;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 88px;
    padding: 0rem 9.25rem 1rem 9.25rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: auto;
    margin-right: auto;

}

.buttons{
    display:flex;
    justify-content: center;
    align-items: center;
}

select{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25;
    padding: 0.1rem 1.6rem;
    background: transparent;
    border-radius: 5px;
    margin-right: 10px;
    height: 32px;
    width: 124px;
    box-sizing: border-box;
}

.signIn{
    font-size: 14px;
    font-weight: 650;
    cursor: pointer;
    background-color: red;
    width: 75px;
    height: 32px;
    border-radius: 3px;
    border: none;
}


/* Hero section - content */
.content{
    z-index: 2; 
    width: 100%;
    height: 65%;
    padding: 0rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.content-margin{
    margin: 0px 18rem;
    height: 100%;
}

.content-top{
    width:100%;
    height:220px;
    text-align: center;
}

.content-top h1{
    margin-bottom: 1rem;
    font-size: 3.5rem;
    font-weight: 900;
}

.content-top p{
    margin-bottom: 2rem;
    font-size: 1.25rem;
    font-weight: 700;
}

.content-bottom h3{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
}


.input{
    padding-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.input input{
    background-color: rgba(0 , 0 , 0 , 0.45);
    color: rgba(255 , 255 , 255 , 1);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.85rem 1rem 0.55rem 1.5rem;
    box-sizing: border-box;
    width: 366px;
    height: 56px;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 0.25rem;
}

.input button{
    width: 210px;
    height: 56px;
    margin-left: 0.5rem;
    font-size: 1.5rem;
    font-weight: 550;
    padding: 0.75rem 1.35rem;
    border-radius: 0.25rem;
    border: none;
    background: rgb(229, 9, 20);
    cursor: pointer;
} 

/* Seperation */
.divider{
    height: 8vh;
    display: flex;
    flex-direction: column;

}


.red{
        background-image: radial-gradient(
                        50% 500% at 50% 330%,
                        rgb(31, 9, 9) 15% , 
                        rgba(184, 40, 105, 1) ,
                        rgba(229, 9, 20, 1)  ,
                        rgba(184, 40, 105, 1) ,
                        rgb(32, 5, 5) 85%
                    );
    height: 7%;
    
}

.blue{
   background-image: radial-gradient(
                    50% 500% at 50% -400%,
                    #0d1c5bd9 60%,
                    rgb(4, 12, 44) 90%,
                    rgb(0 0 0 / 1) 100%
                );
    height: 93%;
}

.main{
    height: 100vh;
    background-color: black;
    padding: 0 9.25rem;
}

/* Trending section */
.trending{
     height: 70%;
     display: flex;
     flex-direction: column;
     margin-bottom: 4rem;
}

.trending h2{
        font-size: 1.5rem;
        font-weight: 650;
}

.movies{
    margin-top: 1rem;
    height: 90%;
    display: flex;
}

.movies span{
    height: 100%;
    padding: 0.5rem 1.35rem;
    position: relative;
    transition: transform 0.2s ease-out;   
    /* starts fast ends slow */
}
 
.movies span img{
   border-radius: 0.5rem;
   background-size: cover;
   cursor: pointer;
}

.movies span::before
{
    position: absolute;
    height: 50%;
    width: 40%;
    left: 0;
    bottom: 0;
    padding-bottom: 3.5rem; 
    color: rgb(255, 255, 255);
    z-index: 10;
    font-weight: 700;
    font-size: 6.3rem;
    text-shadow: 3px 3px 5px black;
    cursor: pointer;
}

.movies span:nth-child(1)::before{
    content: "1";
}

.movies span:nth-child(2)::before{
    content: "2";
}

.movies span:nth-child(3)::before{
    content: "3";
}
.movies span:nth-child(4)::before{
    content: "4";
}

.movies span:hover{
    transform: scale(1.05);
}





