*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

/* Hero section - background img */
.heroImg{
    background-image: url('assets/background.jpg');
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
    align-items: center;
}

/* covers hero img background entirely = inset */
.heroImg::before{
    content: "";    
    position: absolute;
    inset: 0;             
    background-color: black;
    opacity: 0.7;
    z-index: 1; 
  
}

/* Navbar */
.nav{
    position:absolute;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 88px;
    padding: 0rem 9.25rem 1rem 9.25rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: auto;
    margin-right: auto;

}

.buttons{
    display:flex;
    justify-content: center;
    align-items: center;
}

select{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25;
    padding: 0.1rem 1.6rem;
    background: transparent;
    border-radius: 5px;
    margin-right: 10px;
    height: 32px;
    width: 124px;
    box-sizing: border-box;
}

.signIn{
    font-size: 14px;
    font-weight: 650;
    cursor: pointer;
    background-color: red;
    width: 75px;
    height: 32px;
    border-radius: 3px;
    border: none;
}


/* Hero section - content */
.content{
    z-index: 2; 
    width: 100%;
    height: 65%;
    padding: 0rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.content-margin{
    margin: 0px 18rem;
    height: 100%;
}

.content-top{
    width:100%;
    height:220px;
    text-align: center;
}

.content-top h1{
    margin-bottom: 1rem;
    font-size: 3.5rem;
    font-weight: 900;
}

.content-top p{
    margin-bottom: 2rem;
    font-size: 1.25rem;
    font-weight: 700;
}

.content-bottom h3{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
}


.input{
    padding-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.input input{
    background-color: rgba(0 , 0 , 0 , 0.45);
    color: rgba(255 , 255 , 255 , 1);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.85rem 1rem 0.55rem 1.5rem;
    box-sizing: border-box;
    width: 366px;
    height: 56px;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 0.25rem;
}

.btn{
    width: 210px;
    height: 56px;
    margin-left: 0.5rem;
    font-size: 1.5rem;
    font-weight: 550;
    padding: 0.75rem 1.35rem;
    border-radius: 0.25rem;
    border: none;
    background: rgb(229, 9, 20);
    cursor: pointer;
} 

/* Seperation */
.divider{
    height: 8vh;
    display: flex;
    flex-direction: column;

}


.red{
        background-image: radial-gradient(
                        50% 500% at 50% 330%,
                        rgb(31, 9, 9) 15% , 
                        rgba(184, 40, 105, 1) ,
                        rgba(229, 9, 20, 1)  ,
                        rgba(184, 40, 105, 1) ,
                        rgb(32, 5, 5) 85%
                    );
    height: 7%;
    
}

.blue{
   background-image: radial-gradient(
                    50% 500% at 50% -400%,
                    #0d1c5bd9 60%,
                    rgb(4, 12, 44) 90%,
                    rgb(0 0 0 / 1) 100%
                );
    height: 93%;
}

.main{
    background-color: black;
    padding: 0 9rem;
}

/* Trending section */
.trending{
     display: flex;
     flex-direction: column;
     margin-bottom: 4rem;
}


.movies{
    margin-top: 1rem;
    display: flex;
}

.movies span{
    width:20%;
    padding: 0.5rem 1.2rem;
    position: relative;
    transition: transform 0.2s ease-out;   
    /* starts fast ends slow */
}
 
.movies span img{
   border-radius: 0.5rem;
   background-size: cover;
   cursor: pointer;
}

/* Numbers on top of img = ::before */
.movies span::before
{
    position: absolute;
    width: 40%;
    left: 0;
    bottom: 0;
    padding-bottom: 1.5rem; 
    color: rgb(255, 255, 255);
    z-index: 10;
    font-weight: 700;
    font-size: 6rem;
    text-shadow: 3px 3px 5px black;
    cursor: pointer;
}

.movies span:nth-child(1)::before{
    content: "1";
}

.movies span:nth-child(2)::before{
    content: "2";
}

.movies span:nth-child(3)::before{
    content: "3";
}
.movies span:nth-child(4)::before{
    content: "4";
}



.movies span:hover{
    transform: scale(1.05);
}

.scroll
{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    background: rgb(0, 0, 0);   
    padding-left: 0.75rem;
}

.scroll-btn{
    height: 7.5rem;
    width: 1.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.scroll-btn:hover
{
    background-color: rgba(255, 255, 255, 0.2);
}

.scroll-btn .icon{
    fill : rgba(255, 255, 255, 0.7);
}

.scroll-btn:hover .icon{
    fill : rgb(255, 255, 255);
}


/* More Section */
.more{
    margin-bottom: 4rem;
    width: 100%;
    box-sizing: border-box;
}
.title{
    margin-top: 1rem;
}

.reasonCards
{
    display: flex;
    justify-content: space-between;
    width:100%;
    margin-top: 1rem;
}

.card{
        background-image: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
        border-radius: 1rem;
        position: relative;
        padding: 1.5rem 1rem 5rem 1rem;
        width: 230px;
        box-sizing: border-box;
}

.heading h3{
        font-size: 1.5rem;
        font-weight: 600;
}

.para p{
    margin-top: 1rem;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    font-weight: 400;
}

/* FAQ section */
.faq{
    margin-bottom: 4rem;
}

.questions{
    margin-top: 1rem;
}

.questions li{
    list-style: none;
    padding: 1.5rem;
    margin-bottom: 0.8rem;
    box-sizing: border-box;
    cursor: pointer;
    background-color: rgb(45, 45, 45);
    font-size: 1.45rem;
    font-weight: 480;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 1s ease-out 0s;
}

.questions li:hover{
    background-color: rgba(255, 255, 255, 0.25);
}

/* Footer Section */
footer .sign-up
{
    margin: 0 6rem 4rem 6rem;
}

.sign-up h3{
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
}

.input2
{
    padding-top: 1rem;
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

    
}

.input2 input{
    padding: 1.5rem 1rem 0.5rem 1rem;
    box-sizing: border-box;
    background-color: rgba(0 , 0 , 0 , 0.45);
    color: rgba(255 , 255 , 255 , 1);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 0.25rem;
    width: 75%;
}

/* Footer part2 */
.footer{
    padding-bottom: 6rem;
}

.footer span{
    display: flex;
    gap: 5px;
}

.call p, .call a{
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    font-weight: 400;
}

.footer-links{
    margin-top: 2rem;
}

.footer-links div{
    margin-bottom: 0.8rem;
}

.footer-links div ul{
    display: flex;
    justify-content: flex-start;
    align-items: space-between;
    flex-wrap: wrap;
    width: auto;
}

.footer-links li{
    list-style: none;
    text-decoration: underline;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
    margin: 12px 18px 0px 0px;
    width: 23%;
    font-size: 0.87rem;
}

.footer-links li:active{
    color: red;
}

.lang-btn
{
    margin-top: 3.5rem;
}

.india , .india p{
    margin-top: 2rem;
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.88rem;
    font-weight: 400;
}

.terms{
    margin-top: 2rem;
}

.terms span p,
.terms span a{
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.85rem;
    font-weight: 400;

}

.terms span a{
    color: rgb(68, 142, 244);
}


.extra p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.85rem;
    font-weight: 400;
}

.extra a{
    color: rgb(68, 142, 244);
    font-size: 0.85rem;
    font-weight: 400;
}

/* 
 IMPORTANT: Hide paragraph initially 
#learn-more {
  display: none;
}

Show when #learn-more is targeted
#learn-more:target {
  display: block;
}
*/
